<script>
    $(document).ready(function(){$('.tooltipped').tooltip();});
</script>
<div class="row">
    {% for post in paginator.posts %}
        <div class="col">
            <a href="{{ post.url }}">
                <div class="card tooltipped hoverable waves-effect" data-position="top" data-tooltip="{{post.technique}}, {{post.dimensions}}">
                    <div class="card-image">
                        <img src="{{post.image}}" style="max-height:300px;width:auto;" class="responsive-img">
                        {% if post.state == "Vendido" %}
                            <span class="card-title red-text">{{post.state}}</span>
                        {% endif %}
                    </div>
                    <div class="card-content center-align">
                        <em>{{post.title | upcase}}</em><br>
                        <b>{{post.author | upcase}}</b>
                        <p class="green-text text-darken-4">{{post.price}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>